In [1]:
#task 1
import mysql.connector as connector
connection=connector.connect(
                             user="ll_admin",
                             password="***", 
                             db = "LittleLemonDB"
                            )

In [2]:
#task 2
cursor = connection.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)

[('Bookings',), ('Check',), ('Customers',), ('Delivery_status',), ('Employees',), ('Menu',), ('Orders',), ('OrdersView',)]

In [5]:
#task 3
sql_query="""SELECT c.Name, c.Phone, FORMAT(o.TotalCost,0) TotalCost
            FROM LittleLemonDB.Orders o
            JOIN LittleLemonDB.Customers c ON c.CustomerID = o.CustomerID
            WHERE o.TotalCost>60"""
cursor.execute(sql_query)
results = cursor.fetchall()
cols = cursor.column_names
print('___________________________Report___________________________')
print(cols)
for result in results:
    print(result)

___________________________Report___________________________
('Name', 'Phone', 'TotalCost')
('Joakim', 2223334455, '344')
('Anna', 1112223344, '148')
('Joakim', 2223334455, '148')
('Vanessa', 3334445566, '160')
('Marcos', 4445556677, '172')